spring.application.name: $app_name

server:
  port: $port
  servlet.contextPath: /pride/private/ws/archive/v2

app.vhost: $app_vhost

# LOGGING Properties
logging:
  path: $logspath/logs_${HOSTNAME}/
  level:
    root: INFO
    org:
      springframework:
        web: INFO
        boot: INFO
      apache.solr: INFO
      hibernate:
        SQL: INFO
        type.descriptor.sql.BasicBinder: INFO

# To avoid errors while parsing null values in objects
spring.jackson.default-property-inclusion: NON_NULL

#email properties
spring.mail.host: smtp.ebi.ac.uk
pride.support:
  smtp.server: smtp.ebi.ac.uk
  email.address: pride-support@ebi.ac.uk

app.name: pride-private-API
pride-repo.api:
  baseUrl: $repo_api_base_url
  keyName: $repo_api_key_name
  keyValue: $repo_api_key_value
jwt.certificate: $aap_jwt_cer

  # PRIDE urls for email sender
pride:
  url: https://www.ebi.ac.uk/pride
  login_url: https://www.ebi.ac.uk/pride/login
  password_reset_url: https://www.ebi.ac.uk/pride/forgotpassword
  update_profile_url: https://www.ebi.ac.uk/pride/archive/users/profile/edit
  archive:
    url: https://www.ebi.ac.uk/pride/archive
    help.url: https://www.ebi.ac.uk/pride/help/archive
    submission.url: https://www.ebi.ac.uk/pride/help/archive/submission
    login.url: https://www.ebi.ac.uk/pride/archive/login

## PRIDE archive private directory
pride.prod.private.folder: $private_folder

twitter:
  account: https://twitter.com/pride_ebi
  num.tweets.to.show:  4
  pride:
    consumer: $NOT_USED
    consumer.secret: $NOT_USED
    token: $NOT_USED
    token.secret: $NOT_USED